/* Define all your colors here for consistency */

/* Topic: chocolate */
$chocolate-a: #D9534F; // Red
$chocolate-b: #0275D8; // Blue

/* Topic: Age */
$age-a: #F0AD4E;      // Orange
$age-b: #5CB85C;      // Green

/* Layout */
$table-color: #f7f7f7;
$table-border: #ccc;
$seat-border: #888;